/*
    Author: Judith Egyes
    Date: 05/02/2023
*/


h2
        table {
            margin: 0 auto;
            width: 90%;
            }
        td  {
            background-color: #75ddf7;
            border-color: goldenrod;
            border-style:double;
            padding: .5em;
            }
        th  {
            color:#FFFFFF;
            background-color: indianred;
            padding: .5em;
        }

        
