/*
    Author: Judith Egyes
    Date: 05/02/2023
*/

body {background-color:bisque;
      padding: 2em;
      margin: 0 auto;
      width:90%;} 

nav  {margin: 0 auto;
      width: 90%;}

img  {max-width: 100%;}

h1 
    {background-color:chocolate;
     color:  rgb(255, 234, 222);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bolder;}
h2  {background-color:rgb(255, 239, 233);
    color:firebrick;}
h3  {color:crimson;}

